<!DOCTYPE html>
{% load static %}
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>模型管理管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
{#    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />#}
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
      <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
      <script src="{% static 'sweetalert/xtalert.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
  </head>
  
  <body>

    {#添加模板#}
    <table id="tab11" style="display: none">
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" class="i-checks id_list_check">
{#                    <input type="hidden" value="">#}
{#                    <input type="hidden" id="check_id_list" name="check_id_list">#}
                </td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>
                    <input class="layui-btn layui-btn-danger" type="button" onClick="deltr(this)" value="✖">
                </td>

            </tr>
        </tbody>
    </table>

    <div class="x-body">
          <xblock>
            <button class="layui-btn" id="btn_addtr"><i class="layui-icon"></i>添加属性</button>
          </xblock>
          <table class="layui-table" id="dynamicTable" style="table-layout: fixed;">
            <thead>
              <tr>
                <th>
                  <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                </th>
                <th>序号</th>
                <th>字段名称</th>
                <th>字段类型</th>
                <th>字段长度</th>
                <th>描述</th>
                <th>操作</th>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input type="checkbox" class="i-checks id_list_check">
{#                        <input type="hidden" value="">#}
{#                        <input type="hidden" id="check_id_list" name="check_id_list">#}
                    </td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <input class="layui-btn layui-btn-danger" type="button" id="Button2" onClick="deltr(this)" value="✖">
                    </td>

                </tr>


            </tbody>
        </table>

          <div class="layui-form-item">
              <button  class="layui-btn" id="role_add_btn">
                  提交
              </button>
          </div>
    </div>
    <script src="{% static 'js/host.js' %}"></script>
    <script src="{% static 'js/domain_parms_manage.js' %}"></script>
  </body>

</html>