<!DOCTYPE html>
{% load static %}
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>领域模型添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
{#    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />#}
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
      <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
      <script src="{% static 'sweetalert/xtalert.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
  </head>
  
  <body>
    <div class="x-body">


          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>领域模型名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="domain_name" name="domain_name" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>字母开头且唯一
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>描述
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="domain_desc" name="domain_desc" autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>是否启用</label>
              <div class="layui-input-inline">
                <input type="radio" name="is_active" id="is_active_1" lay-skin="primary" title="启用" checked="" value="1">启用
                <input type="radio" name="is_active" id="is_active_0" lay-skin="primary" title="停用" value="0">停用
              </div>
          </div>

          <div class="layui-form-item">
              <button  class="layui-btn" id="domain_add_btn">
                  提交
              </button>
          </div>
    </div>
    <script src="{% static 'js/host.js' %}"></script>
    <script src="{% static 'js/domain-add.js' %}"></script>
  </body>

</html>