<!DOCTYPE html>
{% load static %}
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>菜单添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
{#    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />#}
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
      <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
      <script src="{% static 'sweetalert/xtalert.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
  </head>
  
  <body>
    <div class="x-body">
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>上级菜单
              </label>
              <div class="layui-input-inline">
                  <select name="parent_id" id="parent_id">
                      <option value="0">--无--</option>
                      {% for menuManage in menuManage_list %}
                          <option value="{{ menuManage.id }}">{{ menuManage.name }}</option>
                      {% endfor %}
                  </select>
                  
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*若为一级菜单则留空</span>
              </div>
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>菜单名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*菜单名不能重复</span>
              </div>
          </div>

            <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>菜单路径
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="path" name="path" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*相对路径,若为一级菜单则留空</span>
              </div>
          </div>

          {% comment %}<div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>菜单级别
              </label>
              <div class="layui-input-inline">
                  <select name="level" id="level">
                      <option value="0">一级菜单</option>
                      <option value="1">二级菜单</option>
                      <option value="2">三级菜单</option>
                  </select>
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>{% endcomment %}
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>菜单图标
              </label>
              <div class="layui-input-inline">
                  <select name="icon" id="icon">
                      {#权限审批#}
                      <option value='&#xe697;'>
                          <img src="{% static 'images/1.png' %}" alt="">
                      </option>
                    {# 提案审批#}
{#                      <option value="">#}
{#                          提案审批<i class="iconfont icon-tianshenpi"></i>#}
{#                      </option>#}
                      {#应用管理#}
{#                      <option value="">#}
{#                          应用管理<i class="iconfont icon-yingyongguanli"></i>#}
{#                      </option>#}
                    {#仪表盘#}
{#                      <option value="">#}
{#                          仪表盘<i class="iconfont icon-yibiaopan"></i>#}
{#                      </option>#}
                  </select>
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>是否启用</label>
              <div class="layui-input-block">
                <input type="radio" name="is_active" id="is_active_1" lay-skin="primary" title="启用" checked="" value="1">启用
                <input type="radio" name="is_active" id="is_active_0" lay-skin="primary" title="停用" value="0">停用
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red"></span>菜单描述</label>
              <div class="layui-input-block">
                  <textarea class="layui-input" id="desc" name="desc"></textarea>
              </div>
          </div>

          <div>
              <button  class="layui-btn" id="menu_add_btn">
                  提交
              </button>
              <button  class="layui-btn" lay-skin="default">
                  返回
              </button>
          </div>
    </div>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/host.js' %}"></script>
    <script src="{% static 'js/menu-add.js' %}"></script>
  </body>

</html>